
  .mandatory-filter-items-form input{
    height: 40px;
  }

  .additional-filter-items .dropdown {
    margin-left:2%;
  }

  .additional-filter-items-form {
    margin-left: 21%;
  }

  .mandatory-filter-items-form {
    margin-left: 23%;
  }

  .filters-applied-wrapper{
      height: 38px;
      background: blue;
      margin-top: -1%;
  }

  .userSuggList{
    cursor: pointer;
  }
